.btn {
  position: fixed;
  bottom: 80px;
  left: 50px;
  width: 45px;
  height: 45px;

  align-items: center;
  justify-content: center;

  font-size: 22px;
  cursor: pointer;

  background: #fff;
  color: #669999;
  border: 2px solid #669999;
  border-radius: 50%;

  box-shadow: 0 8px 20px rgba(102, 153, 153, 0.25);
  transition: all 0.3s ease;

  opacity: 1;
  /* visibility: hidden; */
  transform: translateY(20px);
  z-index: 999;
  background: #669999;
  color: #fff;
  box-shadow: 0 12px 25px rgba(102, 153, 153, 0.4);
  transform: translateY(-3px);

  transition: 0.5;
}
